<section class="newsletter accent-bg">
    <div class="background-image-holder overlay accent" data-stellar-background-ratio="0.9">
        <%= image_tag('1600x900.png', class: 'background-image', alt: 'Background Image') %>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <ul class="accepted-payments">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>

<footer class="footer" sty>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="footer-navigation">
                    <li class="active"><%= link_to 'Home', root_path %></li>
                    <li><%= link_to 'Blog', '/blog' %></li>
                    <li><%= link_to 'About', '/about' %></li>
                     <li>
                        <%= link_to '/contact' do %>
                            <i class="fa fa-paper-plane"></i> Contact
                        <% end %>
                    </li>
                </ul>
                <div class="copyright">
                    <p>STRIKE BREWING COMPANY, 2099 S 10TH ST, SAN JOSE, CA, 95112, UNITED STATES(877) 855-8620</p>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer>